# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Dan Meehan
  email = dan.meehan17@gmail.com

[github]
	user = dmee3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[pager]
  diff = delta
  log = delta
  reflog = delta
	show = delta

[delta]
  side-by-side = true
  syntax-theme = OneHalfDark
  line-numbers-zero-style = "normal"

[interactive]
  diffFilter = delta --color-only

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
